
.collapse{
    padding-left: 500px;
}
.nav-item{
    text-transform: uppercase;
}
a{
    font-family:Arial black;
}
.video{
    height: 500px;
    position: relative;
}
.video ul{
    position: absolute;
    float:right;
    top:120px;
    left: 900px;
}
.video h3{
    margin-top: 30px;
    text-align: center;
    color: red;
}
.video ul li{
    list-style: none;
    margin:5px
}
.video ul li img{
    margin-bottom: 20px;
    margin-right:10px;
}
.video .video-1{
    padding-left: 350px;
    padding-top:50px
}
.img-1{
    background-color: red;
    margin-top: 20px;
    height: 450px;
    position: relative;
}
.img-1 h3{
    color: white;
    text-align: center;
    padding-top: 35px;
}
.img-1 .img-2{
    height: auto;
    width: 500px;
    position:absolute;
    bottom: 0;
    left:300px;
}
.img-1 .img-3{
    position: absolute;
    left: 800px;
    top:120px;

}


